@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    background-color: palegreen;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 7px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content auto auto min-content min-content 70px;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "img img"
        "source source"
        "question stycke"
        "footer footer";
}

h1, h2 {
    color: darkgreen;
    text-align: center;
}

h1 {
    grid-area: header;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    Padding: 0;
    font-size: 2rem;
    grid-area: nav;
}

nav a {
    text-decoration: none;
}

nav a:link, nav a:visited {
    background-color: rgb(83, 233, 108);
    color: black;
}

nav a.thispage {
    background-color: rgb(9, 145, 9);
}

nav a:hover, nav a:active {
    background-color: chartreuse;
    color: black;
}

main {
    grid-area: main;
}

img {
    max-width: 100%;
    border-radius: 30px;
    text-align: center;
    grid-area: img;
}

.column1 {
    float:left;
    width: 47%;
}

.column2 {
    float:right;
    width: 47%;
}

#source {
    grid-area: source;
}

#question {
    grid-area: question;
}

#stycke {
    grid-area: stycke;
}

footer {
    border-top: 1px #000000;
    margin-top: 100px;
    padding: 5px;
    font-size: 0.8rem;
    text-align-last: right;
    grid-area: footer;
}