@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    background-color: palegreen;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 7px;
}


#box1 {
    background-color: rgb(255, 0, 212);
}

#box2 {
    background-color: rgb(255, 0, 212);
}

#box3 {
    background-color: rgb(255, 0, 212);
}

nav {
    position: sticky;
    padding: 4px 0;
    font-size: 2rem;
}

nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    list-style-type: none;
    gap: 30px;
    }



h1 {
    border: 1px black; !important
}



nav a.thisPage {
    background-color: green;

.nav div {
    border: 1px;
    width: 80px;
    height: 30px;
    padding: 20px;
    }
    

h1, h2 {
    color: darkgreen;
    text-align: center;
}

footer {
    border-top: 1px #000000;
    margin-top: 20px;
    padding: 5px;
    font-size: 0.9rem;
    text-align-last: right;
}